<html>
    <head>
        <title> THIS IS HOME PAGE</title>
    </head>

    <body>
        {{>navbar}}
        <h1> THIS IS HOME BODY</h1>
        <h2>COMPANY NAME: {{companyName}}</h2>
        <h2>COMPANY FOUNDER: {{founder}}</h2>
    </body>
    {{>footer}}
</html>