<html>
  <head>
    <title> THIS IS HOME PAGE</title>
  </head>

  <body>
    <h1> THIS IS PRODUCT PAGE</h1>
    <ul class="people_list">
      {{#each products}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </body>
</html>